body{
    width: 100%;
    margin: 0;
    background-color: #e8ffff;
}
header{
    width: 100%;
    height: 70px;
    display: flex;
    font-family: 'Times New Roman', Times, serif;
    font-size: 30px;
    font-weight: bold;
    background-color: #213e3b;
    
}
header a i{
    margin-left: 20px;
        text-decoration: none;
        color: #e8ffff;
    }
header ul{
        display: flex;
        padding-left: 83%;
        margin-top: 20px;
}

header ul  li{
            display: flex;
            font-size:20px ;
            flex-wrap: nowrap;
}

header ul li a{
                text-decoration: none;
                list-style: none;
                padding-right: 15px;
                color: #e8ffff;
}

/*sign in*/
h1{
    text-align: center;
    color: #41aea9;
    font-size: 50px;
}
.email_field{
    width: 400px;
    height: 30px;
}
form{
    text-align: center;
    margin-bottom: 20px;
    margin-top: 150px;
}
.otp_button{
    width: 130px;
    height: 50px;
    margin-top: 20px;
    font-size: 20px;
    background-color: #41aea9;
    border-radius: 20px;
    color: #e8ffff;
    border: 2px solid black;
    box-shadow:inset 2px 2px 5px 4px #e8ffff;
}

footer{
    height: 80px;
    width: 100%;
    background-color: #213e3b;
    display: flex;       
    margin-top: 159px;
}

footer p{
        display: flex;
        color: #faf3dd;
        font-family: 'Times New Roman', Times, serif;
        font-size: 20px;
    }
footer  ul{
        display: flex;
        margin-top: 20px;
        margin-left: 20%;
}
footer ul  li{
            display: flex;
            font-size:20px ;
            flex-wrap: nowrap;
}
footer ul li  a{
                text-decoration: none;
                list-style: none;
                padding-right: 15px;
                color: #e8ffff;
            }